.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.mui-fixed {
  background-color: #ddd;
  color: #555;
}
.cart_footer {
  text-align: center;
  width: 100%;
  background-color: #ddd;
  color: #555;
  position: fixed;
  bottom: 0;
  height: 5rem;
  h6 {
    max-width: 540px;
    font-weight: 550;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}
.MuiListItemText-root.MuiListItemText-multiline {
  min-width: fit-content;
}
.buttons_group {
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  align-items: center;
  input.MuiButtonGroup-root.MuiInputBase-input.MuiOutlinedInput-input {
    padding: 3.5px 14px;
    background: red;
  }
  input {
    padding: 3.5px 14px;
    max-width: fit-content;
  }
}
