@import './variables.scss';
.products_list {
  max-width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 0.5rem;
  .MuiCardContent-root {
    position: relative;
  }
  .add-to-cart {
    font-size: 1.8rem;
  }
  .robot-image {
    background-size: auto;
    padding-top: 35.25%;
  }
  .product-price {
    font-size: 1.5rem;
  }
  .product-created-at {
    font-size: 1rem;
  }
  .MuiCardActions-root.MuiCardActions-spacing {
    position: absolute;
    right: 0;
    top: 2rem;
  }
  .MuiCollapse-wrapperInner {
    .MuiCardContent-root {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}
